NVOIP_BASE_URL=https://api.nvoip.com.br/v3
NVOIP_OAUTH_CLIENT_ID=
NVOIP_OAUTH_CLIENT_SECRET=
NVOIP_CALLER=
# Approved SMS template with subject, message and host as three ordered variables.
NVOIP_SMS_TEMPLATE_ID=
